{% extends 'base.html.twig' %}

{% block title %}Utilisateur index{% endblock %}

{% block body %}
<!-- Start Working With Us Area -->
    <div class="working-with-us-area gray-bg">
        <div class="container"> 
            <div class="row">
                <div class="col-md-6 col-12 text-center d-flex align-items-center">
                    <div class="hire-us-content">
                        <div class="section-title">
                            <h4>Working With Us</h4>
                        </div>
                        <p>We’ve completed more than <span>100+</span>project for our am azing clients, If you interested?</p>
                        <a href="#" class="btn hire-us-btn">Hire Us</a>
                    </div>
                </div>
                <div class="col-md-6 d-none d-md-block">
                    <div class="hire-us-img">
                        <img src="/assets/img/hire_us.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Working With Us Area -->

     <!-- Start Icon Box Area -->
 <hr>
    <div class="icon-box-area" id="feature">
        <div class="container">
            <div class="col-12 text-center align-items-center container">
                <div class="jumbotron">
                
                {{ form_start(form) }}
                <div class="section-title">
                    <h4 style="color: #4272d7"> Rechercher des Utilisateurs</h4>
                </div>
                <br>
                <div class="row">
                    <div class="col">{{ form_row(form.nom)}}</div>
                    
                    <div class="col">{{ form_row(form.prenom)}}</div>
                    
                    <div class="col">{{ form_row(form.email)}}</div>
                    
                    <div class="col">{{ form_row(form.tel)}}</div>
                </div>
                <br>
                <button class="btn">  Rechercher &nbsp;<i class="fa fa-search" aria-hidden="true"></i></button>
                {{ form_end(form) }}
                
                </div>
            </div>
        </div>
    </div>

<div class="col-12 text-center align-items-center container">
    <div class="jumbotron">
    <div class="section-title">
        <center><h1>Gérer les Utilisateurs</h1></center>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Email</th>
                <th>Tel</th>
                <th>Rôle</th>
                <th colspan="2" >Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for utilisateur in utilisateurs %}
            <tr>
                <td>{{ utilisateur.id }}</td>
                <td>{{ utilisateur.nom }}</td>
                <td>{{ utilisateur.prenom }}</td>
                <td>{{ utilisateur.email }}</td>
                <td>{{ utilisateur.tel }}</td>
                <td>{{ utilisateur.role }}</td>
                <td>
                    <a class="btn-outline-primary" href="{{ path('utilisateur_show', {'id': utilisateur.id}) }}">show</a>
                </td>
                <td>
                    <a class="btn-outline-primary" href="{{ path('utilisateur_edit', {'id': utilisateur.id}) }}">edit</a>
                </td>
                <td>
                    {{ include('utilisateur/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Pas d'utilisateurs pour le moment.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <center><a class="btn" href="{{ path('utilisateur_new') }}">Créer une nouveau Utilisateur</a><center>
    </div>
</div>
<hr>
<br>
{% endblock %}
